.idea
*.pyc
/dist
/examples/models/k2a/data/plots
/src/diffpssi.egg-info
/examples/models/custom_multi_machine/data/plots
/examples/models/ieee_9bus/data/plots
/examples/models/ibb_model/data/plots
/examples/models/k2a_manual/data/plots
